<header class="site-header">
  <div class="header-content">
    <div class="site-title">BDSM</div>
    <div class="auth-buttons">
      <button class="btn register">About You</button>
      <button class="btn login">Contact Us</button>
    </div>
  </div>
</header>

<app-user-manager [users]="users" (addressAdded)="onAddressAdded()" (addressRemoved)="onAddressRemoved($event)"
  (formSubmitted)="onFormSubmitted($event)"></app-user-manager>


<footer class="site-footer">
  <div class="footer-content">
    <div class="quick-links">
      <div class="quick-links-left">
        <a href="#">Home</a>
        <a href="#">About Us</a>
        <a href="#">Services</a>
      </div>
      <div class="quick-links-right">
        <a href="#">Contact</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Use</a>
      </div>
    </div>
    <div class="copyright">
      &copy; 2024 BDSM. All rights reserved.
    </div>
  </div>
</footer>